/* BOOK OF SAX DESIGN */

#book {
	padding:0;
	background-image:url('/static/img/book/book.png');
	background-size:103%;
    background-position:center;
    background-repeat:no-repeat; 
    height: 650px;
}

#book a {
	color:#000000;
}
#book a:hover {
	color:#444444;
}

.page {
    height:560px;
    width:40%;
	color:#333;
	margin-top:45px;
    margin-left: 80px;
    margin-right:60px;
    
}

.page h1, .page h2, .page h3 {
	text-align:center;
    color: #121212;	
}

.page h1 {
	font-size: 32px;
	text-decoration:underline;
}

.page h2 {
	font-size: 26px;
	font-style:italic;
	padding-bottom: 10px;
}

#right_page{
	margin-left: 0px;
    float:right;
    overflow : auto;
}

#left_page{
	margin-right: 0px;
	float:left;
}


.section ul, .section ol {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size:15px;
}

.section li {
	padding-top:2px;
	padding-bottom:2px;
}

.section {margin: 20px 0px 20px 0px;}
.section h1 {margin-bottom: 10px;}
dl {margin-top: 0px;-webkit-margin-before: 0em;-webkit-margin-after: 0em;}
dt {font-weight:bold;}
dd {margin-top: 5px;margin-bottom: 20px;}
dd p {margin-top: 5px;margin-bottom: 5px;}