 <div id="under_construction" class="item">
	 <img class="icon" src="/static/img/warning.png" alt="WARNING"/>
	 <h3 class="post_title">Under Construction</h3>
	 <hr />
	 <p>This page is currently under construction. It should be available soon, 
	 please make any complaints about the speed of construction payable to 
	 Romulos Ragudos. If you feel you have reached this message in error, feel
	 free to hang up and try again. However, being as this is a web page, I highly
	 doubt anything will change if you do try again soon. It will probably take
	 much longer than that to update. Cheers! </p>
	 <br />
	 <p>Any real suggestions can be sent to our webmaster, Chris Gamble.</p>
     <div class="decollapse"></div>
 </div>