<!doctype html>
    {% block above_head %}
    {% endblock %}
	<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
	<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>

    {% include 'snippets/page_framing/html5boilerplatetop.html' %}

    {% block head %}
    {% endblock %}
</head>
<body>
{% include 'snippets/page_framing/header.html' %}
  
<div class="content">
    <div class="design">
      {% block design %}
        {% block announcements %} 
        {% endblock %}
        <div class="left_col">
        {% block left_column %}
        {% endblock %}
        </div>
        <div class="right_col">
           {% block right_column %}
           
           {% endblock %}
        </div>
       {% endblock %}        
        <div class="decollapse"></div>
    </div>
</div>
    
    {% include 'snippets/page_framing/footer.html' %}
  </div> <!--! end of #container -->

{% include 'snippets/page_framing/html5boilerplatebottom.html' %}

</body>
</html>
