{% extends 'members_section.html' %}

{% block head %}
	{{ form.media }}
{% endblock %}

{% block right_column %}
	<div id="form" class="item">
		<h2>{{ title }}</h2>
		<br />
   	    <p id="message">{{ success }}</p>
   		<p id="error">{{ error }}</p>
   	
   		{% if form.is_multipart %}
            <form enctype="multipart/form-data" method="post" action="{{ form.action }}">
        {% else %}
            <form method="post" action="{{ form.action }}">
        {% endif %}
        	{% csrf_token %}
			{{ form.as_p }}
	        <input type="submit" value="Submit" />
		</form>
   </div>
{% endblock %}
   