<div id ="big_ten_links" class="item">
    <h3>Big Ten Conference</h3>
    <hr />
    <a href="http://bands.illinois.edu/content/MI/"><p>University of Illinois</p></a>
    <a href="http://www.indiana.edu/~bands/index.php"><p>Indiana University</p></a>
    <a href="http://www.uiowa.edu/~bands/HMB/Welcome.html"><p>University of Iowa</p></a>
    <a href="http://mmb.music.umich.edu/"><p>University of Michigan</p></a>
    <a href="http://www.spartanband.net/"><p>Michigan State University</p></a>
    <a href="http://music.umn.edu/ensembles/marching"><p>University of Minnesota</p></a>
    <a href="http://numb.northwesternbands.org/"><p>Northwestern University</p></a>
    <a href="http://tbdbitl.osu.edu/"><p>Ohio State University</p></a>
    <a href="http://www.blueband.psu.edu/"><p>Penn State University</p></a>
    <a href="http://www.purdue.edu/bands/aamb/Welcome.html"><p>Purdue University</p></a>
    <a href="http://www.badgerband.com/"><p>University of Wisconsin</p></a>
</div>