<div id ="pac_twelve_links" class="item">
    <h3>Pacific Twelve Conference</h3>
    <hr />
    <a href="http://web.cfa.arizona.edu/uabands/athletic/marchingband.php"><p>University of Arizona</p></a>
    <a href="http://music.asu.edu/sundevilband/"><p>Arizona State University</p></a>
    <a href="http://bands.colorado.edu/marching/"><p>University of Colorado</p></a>
    <a href="http://pages.uoregon.edu/bandadm/OregonAthleticBands/Home.html"><p>University of Oregon</p></a>
    <a href="http://osumb.oregonstate.edu/"><p>Oregon State University</p></a>
    <a href="http://www.calband.berkeley.edu/"><p>University of California: Berkeley</p></a>
    <a href="http://www.uclaband.com/"><p>University of California: Los Angeles</p></a>
    <a href="http://www.usc.edu/dept/band/"><p>University of Southern California</p></a>
    <a href="http://lsjumb.stanford.edu/home/"><p>Leland Stanford Junior University</p></a>
    <a href="http://uofubands.music.utah.edu/MarchingBand/MarchingBandLanding.html"><p>University of Utah</p></a>
    <a href="http://marchingband.wsu.edu/"><p>Washington State University</p></a>
</div>