{% extends 'base.html' %}
{% load markup %}

    {% block announcements %} 
    {% include 'snippets/under_construction.html' %}
    {% endblock %}
    {% block design %}
    <div id="book" class="item">
    <div id="left_page" class="page">
    {% block left_page %}
        <h3>Table of Contents</h3>
        <br />
        <a href="/book/reeds">How reeds are like women</p></a>
    {% endblock %}
    </div>
    <div id="right_page" class="page">
    {% block right_page %}
     {{ page|restructuredtext }}
        <p>This is the right page of the book of sax.</p>
    {% endblock %}
    </div>
    </div>
    {% endblock %}